@model WebApplication3.Models.SANPHAM

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/AD.cshtml";
}

<h2>THÔNG TIN</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
          Mã loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MALOAI)
        </dd>

        <dt>
        Mã nhà CC:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MANCC)
        </dd>

        <dt>
         Tên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSP)
        </dd>

        <dt>
           Ảnh
        </dt>

        <dd>
            <img style="width:50px;height:50px"  src="@Url.Content("~/Content/assets/img/ao/"+Model.ANH)"/>
        </dd>

        <dt>
           Số lượng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL)
        </dd>

        <dt>
           Giá:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONGIA)VND
        </dd>

        <dt>
         Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

        <dt>
           Ngày cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYCAPNHAT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MASP }) |
    @Html.ActionLink("Trở về", "Index")
</p>
