<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Vesperr Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1><a href="index.html"><img src="~/Content/assets/img/logo.PNG" />
</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="~Content/assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active"> @Html.ActionLink("Trang chủ", "Index", "TrangChu")</a></li>
                    <li><a class="nav-link scrollto"> @Html.ActionLink("Giới thiệu", "Index", "TrangChu")</a></li>
                    <li><a class="nav-link scrollto" href="#contact" style="color:black;margin-top:16px"> Liên hệ@*@Html.ActionLink("Liên hệ", "Index", "TrangChu")*@</a></li>
                    <li><a class="nav-link scrollto"> @Html.ActionLink("Sản Phẩm", "Tim", "TrangChu")</a></li>
                    <li><a class="nav-link scrollto"> @Html.Action("GioHangPartial", "Giohang")</a></li>
                    <li><a class="nav-link scrollto"> @Html.ActionLink("Đăng nhập", "DangNhap", "User")</a></li>
                    <li><a class="nav-link scrollto"> @Html.ActionLink("Đăng kí", "DK", "User")</a></li>
                    <li><a class="nav-link scrollto "> @Html.ActionLink("Admin", "Login", "AD")</a></li>
                </ul>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">BILL CUNNINGHAM</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">Thời trang chính là vỏ bọc sắt để đấu tranh với thực tại trong cuộc sống hàng ngày</h2>
                   
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                    <img src="~/Content/assets/img/hero-img.png"class="img-fluid animated" alt="" />
                    
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients clients">
            <div class="container">

                <div class="row">

                    <div class="col-lg-2 col-md-4 col-6">
                        <img src="~Content/assets/img/clients/client-1.png" class="img-fluid" alt="" data-aos="zoom-in">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <img src="~Content/assets/img/clients/client-2.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <img src="~Content/assets/img/clients/client-3.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <img src="~Content/assets/img/clients/client-4.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <img src="~Content/assets/img/clients/client-5.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <img src="~Content/assets/img/clients/client-6.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
                    </div>

                </div>

            </div>
        </section>
        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>THƯƠNG HIỆU NỔI TIẾNG</h2>
                    <p>Fashionable</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-12 d-flex justify-content-center">
                        @Html.Action("NHASX", "TrangChu")
                        <!--<ul id="portfolio-flters">


                        @*<li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>*@
                        <!--</ul>-->
                    </div>
                </div>

                </div>
        </section><
        
        <div class="container">

            @RenderBody()
        </div>
        <!-- End F.A.Q Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>THÔNG TIN</h2>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="contact-about">
                            <h3>KAWAII</h3>
                            <ul class="list-group-item">
                                <li>
                                    Kawaii,Q.10:770A,Sư Vạn Hạnh,TP.HCM
                                </li>
                                <li>
                                    Kawaii,Q.5:120,Nguyễn Trãi,TP.HCM
                                </li>
                                <li>
                                    Kawaii,Q.9:10,Nguyễn Du,TP.HCM
                                </li>
                                <li>
                                    Kawaii,Tân Phú:120,Lê Trọng Tấn,TP.HCM
                                </li>
                                <li>
                                    Kawaii,Tân Bình:90,Cộng Hòa,TP.HCM
                                </li>
                            </ul>
                            
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                        <div class="info">
                            <h3>Trụ sở chính</h3>
                            <div>
                                <i class="ri-map-pin-line"></i>
                                <p>A108 Adam Street<br>New York, NY 535022</p>
                            </div>

                            <div>
                                <i class="ri-mail-send-line"></i>
                                <p>info@example.com</p>
                            </div>

                            <div>
                                <i class="ri-phone-line"></i>
                                <p>+1 5589 55488 55s</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Gửi phản hồi</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 text-lg-left text-center">
                    
                    <div class="credits">
                    
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
                        <a href="#intro" class="scrollto">@Html.ActionLink("Trang chủ", "Index", "TrangChu")</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <
    <script src="~/Content/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Content/assets/vendor/aos/aos.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>

</body>

</html>