@using WebApplication3.Models

@model List<GioHang>

@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/GH.cshtml";
}
<style type="text/css">
    table, th, td {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    table {
        border-collapse: collapse;
    }

        table td {
            width: 300px;
        }
</style>
<h2 style="text-align:center">Thông tin hàng hóa</h2>
<table align="center" border="1">
    <tr style="text-align:center;font-weight:bold">
        <td>Mã sản phẩm</td>
        <td>Tên sản phẩm</td>
        <td>
            Ảnh
        </td>
        <td>Số Lượng</td>
        <td>Đơn giá</td>
        <td>Thành tiền</td>

    </tr>
    @foreach (var item in Model)
    {
        <tr style="text-align:center;font-weight:bold">
            <td>@item.masp</td>
            <td>@item.Tensp</td>
            <td> <img style="width:50px;height:50px" src="~/Content/assets/img/ao/@item.anh" /></td>
            @using (Html.BeginForm("CapNhat", "Giohang", new { @id = item.masp }))
            {
                <td>
                    @item.soluong
                </td>

                <td>
                    @string.Format("{0:0,0}", item.dongia)
                </td>
                <td>
                    @string.Format("{0:0,0}", item.ThanhTien)
                </td>
            }
        </tr>
    }
    <tr style="font-weight:bold;text-align:right;color:red">
        <td colspan="4">
            Số lượng sản phẩm:@ViewBag.TongSL
        </td>
        <td colspan="5">
            Tổng tiền:@string.Format("{0:0,0}", ViewBag.TongTien) VND
        </td>
    </tr>
    <tr style="font-weight:bold;color:blue;text-align:right">
        @Html.ActionLink("Trở về giỏ hàng", "GioHang", "Giohang")

    </tr>

</table>
<h2 style="text-align:center">Thông tin đặt hàng</h2>
@{
    KHACHHANG kh = (KHACHHANG)Session["Taikhoan"];
}
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td>Họ tên khách hàng</td>
            <td style="font-weight:bold">@kh.TENKH</td>
        </tr>
        <tr style="height:40px">
            <td>Địa chỉ</td>
            <td style="font-weight:bold">@kh.DIACHI</td>
        </tr>
        <tr style="height:40px">
            <td>Ngày đặt</td>
            <td style="font-weight:bold">@DateTime.Now.ToShortDateString()</td>
        </tr>
        <tr style="height:40px">
            <td>Ngày giao hàng</td>
            <td style="font-weight:bold">
                <input type="date" name="Ngaygiao" />
            </td>
        </tr>
        <tr style="height:40px">
            <td>SDT</td>
            <td style="font-weight:bold">@kh.SDT</td>
        </tr>

        <tr>
            <td>

            </td>
            <td>
                <input  style="background-color:#ccc;color:white;font-weight:bold" type="submit" value="Đồng ý đặt hàng"/>
                @*<button style="background-color:#ccc;color:white;font-weight:bold" type="submit">@Html.ActionLink("Đồng ý đặt hàng", "XacNhanDH", "Giohang")</input>*@
            </td>
        </tr>
          
     

    }
</table>



