
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/DN.cshtml";
}

@*<h4 style="color:red;text-align:center">@ViewBag.thongbao</h4>
    <h2 style="color: #0026ff; text-align: center">ĐĂNG NHẬP</h2>
    <table  class="border shadow-sm" style="height:350px;width:450px;border-radius:5px;margin-left:410px;text-align:center">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <tr style="height:40px">
                <td>Tên đăng nhập</td>
                <td>
                    @Html.TextBox("TenDN")
                    @ViewData["Loi1"]
                </td>
            </tr>
            <tr style="height:40px">
                <td align="right" >
                    Mật khẩu
                </td>
                <td>
                    @Html.Password("Matkhau")
                    @ViewData["Loi2"]
                </td>
            </tr>
            <tr style="height:40px">
                <td>
                </td>
                <td>
                    <input type="submit" value="Đăng nhập" class="btn btn-primary" />
                </td>
            </tr>
        }
    </table>*@

<style type="text/css">


    body {
        background: #eee !important;
    }

    .wrapper {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .form-signin {
        max-width: 380px;
        padding: 15px 35px 45px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.1);
      

    
        margin-bottom: 30px;
    }

    .checkbox {
        font-weight: normal;
    }

    .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
    }

    input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
</style>
<h4 style="color:red;text-align:center">@ViewBag.thongbao</h4>
<div class="wrapper" style="width:300px;height:200px;margin-left:550px">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <form class="form-signin">
            <h2 class="form-signin-heading">ĐĂNG NHẬP</h2>
            <input type="text" style="margin-top:10px" class="form-control" name="username" placeholder="Tên đăng nhập" required="" autofocus="" />@ViewData["Loi1"]
            <input type="password" style="margin-top:10px" class="form-control" name="password" placeholder="Mật khẩu" required="" />@ViewData["Loi2"]
            <label class="checkbox" style="margin-top:10px">
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
            </label>
            <button style="margin-top:10px;margin-left:5px" class="btn btn-lg btn-primary btn-block" type="submit">Đăng nhập</button>
        </form>
    }
</div>



